body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(125, 235, 235);
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}
.container {
  width: 400px;
  height: 150px;
  background-color: palevioletred;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input {
  width: 350px;
  border: 1px solid rgb(243, 213, 218);
  margin: 20px auto;
  height: 25px;
  background-color: rgb(240, 167, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.input #text {
  height: 100%;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
}
.input .fa-copy {
  font-size: 20px;
  color: rgb(63, 212, 17);
  transition: all 0.3s;
  cursor: pointer;
}
.input .fa-copy:hover {
  color: rgb(17, 212, 196);
}
.message {
  position: absolute;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: black;
  top: 80%;
  transition: all 0.6s linear;
  right: -400px;
  background-color: rgb(212, 34, 168);
}
.copied {
  background-color: rgb(101, 230, 101);
  right: 30px !important;
  font-family: "IBM Plex Mono", monospace;
}
#gen {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(243, 213, 218);
  cursor: pointer;
  margin: 0px 20px;
}
